src/main/mule/implementation/delete-notes-by-id-imp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="delete-notes-by-id-impFlow" doc:id="aa944e9d-608f-465c-bdf9-2aca3a140d30" >
		<logger level="INFO" doc:name="before_db_call" doc:id="6cc93b74-7d70-4412-beb1-d7d8a379587d" message="#[%dw 2.0&#10;output application/json &#10;&#10;---&#10;{&#10;	timeStamp:(now()&gt;&gt; &quot;EST&quot;) as String {format: 'yyyy-MM-dd hh:mm:ss'},&#10;	appName: app.name,&#10;	floowName: flow.name, &#10;	state: &quot;Before DB Call&quot;&#10;}]"/>
		<db:delete doc:name="notes_db" doc:id="d580bf81-8d7e-4299-95ac-6fef231fbbbf" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from NOTES_B32_TEAM_C_DEV where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"id": attributes.uriParams.noteId
}]]]></db:input-parameters>
		</db:delete>
		<logger level="INFO" doc:name="after_db_call" doc:id="bd2f02a3-d57f-45c0-9d9b-239647797ab5" message="#[%dw 2.0&#10;output application/json &#10;&#10;---&#10;{&#10;	timeStamp:(now()&gt;&gt; &quot;EST&quot;) as String {format: 'yyyy-MM-dd hh:mm:ss'},&#10;	appName: app.name,&#10;	floowName: flow.name, &#10;	state: &quot;After DB Call&quot;&#10;}]" />
		<ee:transform doc:name="output_map" doc:id="2dec98c5-88c7-4779-bbdd-a6dd1f3d87ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"data deleted successfully!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="commonError_Handler_flowlevel" />
		
	
</flow>
	</mule>
