src/main/mule/implementation/retrieve-notes-imp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="retrieve-notesFlow" doc:id="0617db2a-0e9c-4b23-b097-f9df22490b00" >
		<logger level="INFO" doc:name="before_db_call" doc:id="26331ecb-8ea4-4c7e-8421-ca95713fff54" message="#[%dw 2.0&#10;output application/json &#10;&#10;---&#10;{&#10;	timeStamp:(now()&gt;&gt; &quot;EST&quot;) as String {format: 'yyyy-MM-dd hh:mm:ss'},&#10;	appName: app.name,&#10;	floowName: flow.name, &#10;	state: &quot;Before DB Call&quot;&#10;}]"/>
		<db:select doc:name="notes_db" doc:id="075eccbf-4817-4c9a-a101-1a63f7163ab3" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from NOTES_B32_TEAM_C_DEV]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="after_db_call" doc:id="fe8ec01e-0262-4c1d-9321-db664546a0e5" message="#[%dw 2.0&#10;output application/json &#10;&#10;---&#10;{&#10;	timeStamp:(now()&gt;&gt; &quot;EST&quot;) as String {format: 'yyyy-MM-dd hh:mm:ss'},&#10;	appName: app.name,&#10;	floowName: flow.name, &#10;	state: &quot;After DB Call&quot;&#10;}]"/>
		<ee:transform doc:name="output_map" doc:id="95ab7ad3-afdf-40ff-8fdf-ce6c6344b042" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	title: payload01.title,
	content: payload01.content,
	createdAt: payload01.createdAt,
	updatedAt: payload01.updatedAt
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="commonError_Handler_flowlevel" />
		
</flow>
	
	</mule>
